In [1]:
import pandas as pd

# CycleGAN + YOLO

## Haryana To Bihar

In [4]:
df = pd.read_csv("/home/umang.shikarvar/map/Haryana_to_Bihar.csv")
display(df.style.hide(axis="index"))

## UP To Bihar

In [5]:
df = pd.read_csv("/home/umang.shikarvar/map/UP_to_Bihar.csv")
display(df.style.hide(axis="index"))

## Punjab To Bihar

In [6]:
df = pd.read_csv("/home/umang.shikarvar/map/Punjab_to_Bihar.csv")
display(df.style.hide(axis="index"))

## West Bengal To Haryana

In [7]:
df = pd.read_csv("/home/umang.shikarvar/map/WB_to_Haryana.csv")
display(df.style.hide(axis="index"))